@import "header.css";
@import "footer.css";
body {
  margin: 0;
  padding: o;
  height: 100%;
  width: 100vw;
  font-family: Roboto;
  background-color: #ffffff;
}
.front_bg {
  width: 100;
  height: 100vh;
  background_color: #406b55;
}
.bg_container {
  height: 100vh;
}
.img_hero {
  mix-blend-mode: multiply;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.content_text {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 20%;
  margin: 0;
}
.ninja_font {
  width: 65%;
  font-size: 5vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 20%;
  left: 17.5%;
  text-align: center;
}
.ninja_text {
  width: 45%;
  opacity: 0.8;
  font-size: 1.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 10vh;
  left: 25vw;
}
#btn_arrow {
  margin-left: 5%;
  height: 1.2vw;
  vertical-align: middle;
}
#apply_button {
  position: relative;
  top: 20vh;
  left: 44%;
  width: 12%;
  padding: 1.5% 2%;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: none;
  box-shadow: 0 0.1vw 1vw 0 rgba(0, 0, 0, 0.9);
  background-color: #27ad6c;
  color: white;
}
#apply-button :hover {
  cursor: pointer;
}

.container_one {
  width: 100%;
}
.grid_items {
  margin-top: 5%;
  width: 80%;
  height: 40%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: nowrap;
}
#heading {
  width: 33%;
  font-size: 3vw;
  color: #9b9b9b;
  position: relative;
  margin-top: 10%;
  margin-left: 33%;
  text-align: center;
}
.item_img {
  margin-left: 5%;
  text-align: center;
}
.item_text h4 {
  color: #27ad6c;
}
.item_text {
  width: 90%;
  justify-content: center;
  color: #9b9b9b;
  font-size: 1.1vw;
  font-family: Roboto;
}
.item_img {
  width: 25vw;
}
.container_two {
  margin-top: 15vh;
  height: auto;
  width: 90%;
  margin-right: 0;
}
.container_content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 45% 5% 50%;
  padding-left: 5vw;
}
.container_content #content_header1 {
  font-size: 3vw;
  color: #9b9b9b;
}
.content_res {
  float: left;
  margin-left: 5%;
}
.item_latest {
  padding-left: 9%;
}
.vertical {
  height: 95%;
  margin-left: 100%;
  margin-top: 60%;
  color: #27ad6c;
  opacity: 0.3;
}
.content_item,
.text_items {
  display: grid;
  grid-row: auto;
  margin-top: 2vh;
  color: #27ad6c;
  font-size: 1.1vw;
  width: 80%;
  float: inline-start;
  padding-left: 10%;
}
.content_items div {
  border-bottom: 0.1vh solid rgba(88, 197, 42, 0.2);
  color: #27ad6c;
  padding: 4vh 0;
  width: 100%;
}
.content_items img {
  width: 1.5vw;
}
#view_all {
  margin-top: 3vh;
  color: #27ad6c;
}
.text_items div {
  border-bottom: 0.1vh solid rgba(88, 197, 0.2);
  padding: 3vh 0;
  width: 100%;
}
.text_items #content-time {
  font-size: 0.7vw;
  color: #9b9b9b;
  opacity: 0.7;
  font-family: Roboto;
}
.text_items #view_updates {
  margin-top: 3vh;
  padding-top: 5vh;
}
.item_latest #content_header2 {
  font-size: 3vw;
  color: #9b9b9b;
}
.logo_icon {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 45% 5% 45%;
  padding: 0;
  align-items: center;
}
.ninja_line_hr {
  height: 0;
  width: 50%;
  color: rgba(39, 173, 108, 0.6);
}
.ninja_logo_hr {
  height: 0;
  width: 50%;
  color: rgba(39, 173, 108, 0.6);
}
.ninja_logo img {
  width: 3.5vw;
}
.ninja-logo-hr.l {
  margin-left: 6vw;
}
.food_photos {
  margin-top: 10%;
  width: 100%;
  color: #9b9b9b;
}
.photos_heading {
  width: 45%;
  margin-left: 27.5%;
  text-align: center;
}
#food_photo_heading1 {
  font-size: 3vw;
}
#food_photo_heading2 {
  font-size: 1vw;
}
.random-images {
  width: 100%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.random-images img {
  width: 100%;
}
.container_three {
  width: 100%;
  background-color: #423633;
  margin-top: 0;
  padding-bottom: 5%;
}
.container_heading {
  padding-top: 12.6%;
  font-size: 3.5vw;
  width: 40%;
  margin-left: 35%;
  color: white;
}
.container_items_three {
  margin-top: 5%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10%;
}
.container_provide.items {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80%;
  padding-bottom: 5%;
  font-family: Roboto;
}

.content_images img {
  width: 2vw;
}

.image_text_heading {
  width: 100%;
  color: #ffffff;
  line-height: 1.5;
  font-size: 1.2vw;
  margin-left: 5%;
}
#image_text {
  width: 70%;
  font-size: 1.1vw;
  text-align: left;
  color: #9b9b9b;
}

.btn_button1 {
  width: 10%;
  margin: 7.5% 0 0 45%;
}
#apply_button1 {
  width: 100%;
  padding: 12.5% 1%;

  font-size: 0.9vw;
  font-family: Roboto;
  border-radius: 0.5vw;
  border: none;
  box-shadow: 0 0.1vw 1vw 0 rgba(0, 0, 0, 0.9);
  background-color: #27ad6c;
  color: white;
}

.ninja_button {
  margin: 7.5% 0 0 47.5%;
}
.ninja_button img {
  width: 4vw;
}
