.footer {
  font-size: 1vw;
  padding: 1vh 0;
  width: 100%;
  color: #ffffff;
  background-color: #333333;
}
.page_footer {
  font-size: 1vw;
  text-align: center;
  display: grid;
  grid-template-columns: 40% 60%;
}

.footer_text {
  position: relative;
  text-align: left;
  margin: auto 0;
  padding-left: 7.5%;

  font-family: Roboto;
}

.footer_nav_button ul {
  text-align: right;
  padding-right: 7.5%;
}

.footer_nav_button li {
  display: inline-block;
  padding: 0 1vw;
  text-align: right;
  font-family: Roboto;
}
