/* header */
.nav_bar {
  position: absolute;
  top: 5%;
}
.menu_icon {
  width: 100vw;
  background-color: rgba(15, 17, 16, 0.1);
  display: grid;
  grid-template-columns: 20% 80%;
}
.ninja_logo {
  width: 8vw;
  position: relative;
  margin-left: 5%;
  object-fit: contain;
  z-index: 1;
  margin: auto 0 auto 15%;
}
.ninja_log0 :hover {
  cursor: pointer;
  transform: scale(1.2);
}

.nav_item ul {
  text-align: right;
  padding-right: 7.5%;
}
.nav_item li {
  display: inline-block;
  font-size: 1.1vw;
  color: white;
  position: relative;
  z-index: 1;
  margin: auto 1vw;
}
.nav_item li :hover {
  cursor: pointer;
  color: green;
  transform: scale(1.2);
}
